* {
  margin : 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: rgb(89, 97, 121);
}

.App {
  display: flex;
  flex-wrap: wrap;
  align-items: center;            /* Centramos de manera horizontal y vertical */
  justify-content: center;
  padding-top: 15px;
  font-family: Geneva;
}

.contenedorLogo {
  width: 100%;                    /* Ocupe el 100% de la página o contenedor principal */
  align-items: center;            /* Centramos de manera horizontal y vertical */
  justify-content: center;
  margin: 5px 50%;
}

.logo {
  height: 200px;
  width: 800px;
  border-radius: 50%;
}

.contenedorContador {
  height: 550px;
  min-width: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;         /* Ubicamos todos los elementos de manera vertical */
  align-items: center;
  justify-content: center;
}